<div class="footer__inner container home">
    <div class="footer__row">
        <section class="footer__left">
            <a href="./" class="logo footer__logo">
                <img src="./assets/icons/logo.svg" alt="Grocerymart" class="logo__img footer__logo-img" />
                <h1 class="logo__title footer__logo-heading">grocerymart</h1>
            </a>
            <p class="footer__desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque cum assumenda odit alias aliquam veniam
                sit obcaecati debitis. Accusantium, nesciunt
            </p>
            <p class="footer__desc">Reveive product new and updates</p>
            <form action="" class="footer__form">
                <input type="text" name="" id="" placeholder="Email address" class="footer__input" />
                <button class="btn btn--primary footer__submit">SEND</button>
            </form>
        </section>
        <div class="footer__right">
            <!-- Column 1 -->
            <div class="footer__column">
                <h3 class="footer__title">SHOP</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">All Departments</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Fashion Deals</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Electronics Discounts</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Home & Living Specials</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Beauty Bargains</a>
                    </li>
                </ul>
            </div>
            <!-- Column 2 -->
            <div class="footer__column">
                <h3 class="footer__title">SUPPORT</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Store Locator</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Order Status</a>
                    </li>
                </ul>
            </div>
            <!-- Column 3 -->
            <div class="footer__column">
                <h3 class="footer__title">COMPANY</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Customer Service</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Terms of user</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Privacy</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Careers</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">About</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Affiliates</a>
                    </li>
                </ul>
            </div>
            <!-- Column 4 -->
            <div class="footer__column">
                <h3 class="footer__title">CONTACT</h3>
                <div class="footer__wrap">
                    <div class="footer__item">
                        <p class="footer__item-label">Email</p>
                        <a href="mailto:contact@grocerymart.com" class="footer__item-email">contact@grocerymart.com</a>
                    </div>
                    <div class="footer__item">
                        <p class="footer__item-label">Hotline</p>
                        <a href=" tel:18008888" class="footer__item-tel">18008888</a>
                    </div>
                    <div class="footer__item">
                        <p class="footer__item-label">Address</p>
                        <p class="footer__item-desc">
                            No.11D, Lot A10, Nam Trung Yen urban area, Yen Hoa Ward, Cau Giay District, Ha Noi
                        </p>
                    </div>
                    <div class="footer__item">
                        <p class="footer__item-label">Hours</p>
                        <p class="footer__item-clock">M-F 08:00am - 06:00pm</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <span class="footer__copyright">© 2010 - 2025 Grocery Mart.All rights reserved</span>
        <div class="footer__socials">
            <a href="#!" class="footer__social-link footer__social-link--facebook">
                <img src="./assets/icons/facebook.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--youtube">
                <img src="./assets/icons/youtube.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--tiktok">
                <img src="./assets/icons/tiktok.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--twitter">
                <img src="./assets/icons/twitter.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--linkedin">
                <img src="./assets/icons/linkedin.svg" alt="" class="footer__social-icon" />
            </a>
        </div>
    </div>
</div>
