@use "../abstracts";
.auth {
    min-height: 100vh;

    display: flex;
    @supports (-webkitl-touch-callout: none) {
        min-height: -webkit-fill-available;
    }
    &__intro,
    &__content {
        flex: 1;
        padding: 0 30px;
    }
    &__intro {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--auth-intro-bg);
        &-logo,
        &-next {
            position: absolute;

            translate: -50%;
            left: 50%;
        }
        &-logo {
            top: 80px;
        }
        &-next {
            bottom: 50px;
        }
        &-text {
            color: var(--auth-intro-text-color);
            margin-top: 50px;
            text-align: center;
            max-width: 412px;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
            @include abstracts.screen(md) {
                font-size: 1.5rem;
            }
        }
        &-img {
            max-width: 100%;
        }
    }
    &__content {
        background: var(--auth-content-bg);
        @include abstracts.screen(md) {
            overflow-y: auto;
            position: fixed;
            inset: 0;
            z-index: 1;
            transition: translate 0.3s;
            &.hide {
                translate: 100%;
            }
        }

        &-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: min(460px, 100%);
            margin: 0 auto;
            text-align: center;
            padding: 50px 0;
            @include abstracts.screen(md) {
                padding: 32px 0;
            }
        }
    }
    &__heading {
        margin-top: 50px;
        font-size: 3rem;
        font-weight: 500;
        line-height: 146.667%;
        color: var(--auth-heading-color);
        @include abstracts.screen(md) {
            font-size: 2.2rem;
            margin-top: 30px;
        }
    }
    &__desc {
        padding: 0 20px;
        margin-top: 10px;
        color: #9e9da8;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }
    &__form {
        margin-top: 35px;
        width: 100%;
        @include abstracts.screen(md) {
            margin-top: 5px;
        }
    }
    &__link {
        color: #0071dc;
        font-weight: 500;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }
    &__btn-group {
        margin-top: 50px;
        @include abstracts.screen(md) {
            margin-top: 40px;
        }
    }
    &__text {
        margin-top: 108px;
        font-size: 1.8rem;
        line-height: 144.444%;
        color: var(--auth-text-color);
        @include abstracts.screen(md) {
            margin-top: 50px;
            font-size: 1.6rem;
        }
        &-link {
            font-size: inherit;
        }
    }
    &__btn-google {
        margin-top: 25px;
        @include abstracts.screen(md) {
            margin-top: 20px;
        }
        color: var(--auth-btn-google-color);
    }
}
