@use "../abstracts";
html.dark {
    --text-color: #fff;

    --icon-color: brightness(0) saturate(100%) invert(96%) sepia(96%) saturate(0%) hue-rotate(65deg) brightness(105%)
        contrast(104%);
    --body-bg: #292e39;
    --header-bg: #171c28;
    --top-act-group-bg: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-separate: #ededf6;
    @include abstracts.screen(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }
    // Header
    --act-dropdown-bg: #2f3341;
    --act-dropdown--shadow: rgba(23, 28, 40, 0.4);
    --act-dropdown-border-color: #171c28;
    --act-dropdown-separate-bg: #171c28;
    --act-dropdown-arrow-bg: brightness(0) saturate(100%) invert(19%) sepia(23%) saturate(478%) hue-rotate(189deg)
        brightness(94%) contrast(95%);
    // Drop Down
    --dropdown-bg-color: #2f3341;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(14%) sepia(37%) saturate(422%) hue-rotate(188deg)
        brightness(94%) contrast(84%);
    --menu-main-border-color: #171c28;
    --menu-column-color: #b9babe;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(91%) sepia(1%) saturate(796%) hue-rotate(202deg)
        brightness(108%) contrast(97%);
    // Sidebar
    --sidebar-bg: #292e39;
    --sidebar-shadow-color: rgba(23, 28, 40, 0.4);
    //Categcory
    --categcory-item-bg: #171c28;

    --categcory-item-color: #fff;
    --categcory-item-thumb-bg: #292e39;
    //Buttons
    --filter-btn-bg: #171c28;
    --filter-btn-text-color: #fff;
    --like-btn-bg: #292e39;
    // Product
    --product-card-bg: #171c28;
    --product-card-shadow-color: rgbargba(0, 0, 0, 0.2);
    //Filter Form
    --filter-form-bg: #292e39;
    --filter-form-shadow: rgba(0, 0, 0, 0.4);
    --filter-form-arrow-bg: brightness(0) saturate(100%) invert(10%) sepia(4%) saturate(5599%) hue-rotate(184deg)
        brightness(91%) contrast(79%);
    --filter-form-color-innode: #292e39;
    --form-tag-bg: #171c28;
    --filter-form-footer-bg: #292e39;
    // Footer
    --footer-bg-color: #171c28;
    // Auth
    --auth-content-bg: #292e39;

    --auth-text-color: #b9babe;
    // Form
    --form-label-color: #b9babe;
    --form-border-color: #b9babe;
    --form-text-color: #b9babe;
    --form-icon-color: #b9babe;
    --form-icon-color: brightness(0) saturate(100%) invert(76%) sepia(62%) saturate(15%) hue-rotate(197deg)
        brightness(89%) contrast(88%);
    // Auth
    --auth-intro-bg: #171c28;
    --auth-heading-color: #b9babe;
    --auth-intro-text-color: #b9babe;
    --auth-btn-google-color: #b9babe;
    // Search bar
    --search-bar-bg: #171c28;
    // Product detail
    --product-detail-bg: #292e39;
    --product-content-bg: transparent;
    --prod-info-bg: #171c28;
    --prod-info-tag-bg: #292e39;
    --prod-info-card-price: #eee;
    --prod-prop-icon: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(1942%) hue-rotate(171deg)
        brightness(121%) contrast(87%);

    @include abstracts.screen(md) {
        --product-content-bg: #171c28;
    }
    // Breadcrumbs
    --breadcrumb-bg-color: #171c28;
    --breadcrumb-shadow-color: rgba(23, 28, 40, 0.2);
    // Review card
    --prod-review-card-bg: #171c28;
}
