@use "../abstracts";
html.dark {
    --text-color: #fff;

    --icon-color: brightness(0) saturate(100%) invert(96%) sepia(96%) saturate(0%) hue-rotate(65deg) brightness(105%)
        contrast(104%);
    --body-bg: #292e39;
    --header-bg: #171c28;
    --top-act-group-bg: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-separate: #ededf6;
    @include abstracts.screen(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }
    // Drop Down
    --dropdown-bg-color: #2f3341;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(14%) sepia(37%) saturate(422%) hue-rotate(188deg)
        brightness(94%) contrast(84%);
    --menu-main-border-color: #171c28;
    --menu-column-color: #b9babe;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(91%) sepia(1%) saturate(796%) hue-rotate(202deg)
        brightness(108%) contrast(97%);
    // Sidebar
    --sidebar-bg: #292e39;
    --sidebar-shadow-color: rgba(23, 28, 40, 0.4);
    //Categcory
    --categcory-item-bg: #171c28;

    --categcory-item-color: #fff;
    --categcory-item-thumb-bg: #292e39;
}
