@use "../abstracts";
:root {
    --text-color: #1a162e;

    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(12%) saturate(2823%) hue-rotate(210deg) brightness(95%)
        contrast(97%);
    --body-bg: #f6f6f6;
    --header-bg: #eee;
    --top-act-group-bg: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-separate: #ededf6;
    @include abstracts.breakpoint(lg) {
        --header-bg: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }
    // Drop Down
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --menu-main-border-color: #d2d1d6;
}
