@use "../abstracts";
:root {
    --text-color: #1a162e;

    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(12%) saturate(2823%) hue-rotate(210deg) brightness(95%)
        contrast(97%);
    --body-bg: #f6f6f6;
    --header-bg: #eee;
    --top-act-group-bg: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-separate: #ededf6;
    @include abstracts.screen(lg) {
        --header-bg: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }
    // Drop Down
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --menu-main-border-color: #d2d1d6;
    // Sidebar
    --sidebar-bg: #fff;
    --sidebar-shadow-color: rgba(200, 200, 200, 0.4);
    //Categcory
    --categcory-item-bg: #eee;
    @include abstracts.screen(md) {
        --categcory-item-bg: #fff;
    }
    --categcory-item-color: #000;
    --categcory-item-thumb-bg: #fff;
    //Buttons
    --filter-btn-bg: #fff;
    --filter-btn-text-color: #6c6c72;
    --like-btn-bg: #fff;
    // Product
    --product-card-bg: #fff;
    --product-card-shadow-color: rgba(237, 237, 246, 0.2);
    //Filter Form
    --filter-form-bg: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.4);
    --filter--form-arrow-bg: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
        brightness(102%) contrast(102%);
    --filter-form-color-innode: #fff;
    --form-tag-bg: #f8f8fb;
    --filter-form-footer-bg: #fff;
    // Footer
    --footer-bg-color: #eeeeee;
    // Auth
    --auth-content-bg: #fff;
    --auth-text-color: #9e9da8;
    // Form
    --form-border-color: #d2d1d6;
    --form-text-color: #d2d1d6;
    --form-label-color: #9e9da8;
    // Auth
    @include abstracts.screen(md) {
        --auth-content-bg: #fff;
    }
    // Search bar
    --search-bar-bg: #fff;
    @include abstracts.screen(sm) {
        --search-bar-bg: #fff;
    }
    @include abstracts.screen(md) {
        --search-bar-bg: #f6f6f6;
    }

    // Product detail
    --product-detail-bg: #fff;
    @include abstracts.screen(md) {
        --product-detail-bg: #fafafd;
    }
    --prod-info-bg: #f6f6f6;
    --prod-info-tag-bg: #ededf6;
    --prod-info-card-price: #000;
    --product-content-bg: #fff;

    @include abstracts.screen(sm) {
        --product-detail-bg: #fafafd;

        --prod-info-bg: #fff;
    }
    // Breadcrumbs
    --breadcrumb-bg-color: #f6f6f6;

    --breadcrumb-shadow-color: rgba(237, 237, 246, 0.2);
    @include abstracts.screen(sm) {
        --breadcrumb-bg-color: #fff;
    }
    // Review card
    --prod-review-card-bg: #fafafd;
    @include abstracts.screen(md) {
        --prod-review-card-bg: #fff;
    }
}
