@use "../abstracts";
.footer {
    padding: 30px 0;
    font-size: 1.4rem;
    background: var(--footer-bg-color);
    @include abstracts.screen(lg) {
        font-size: 1.6 rem;
    }

    &__row {
        display: flex;
        gap: 50px;
        @include abstracts.screen(lg) {
            display: flex;
            flex-direction: column;
        }
        @include abstracts.screen(md) {
            gap: 30px;
        }
    }
    &__logo {
        @include abstracts.screen(lg) {
            margin-left: 0 !important;
        }
    }
    &__desc {
        margin-top: 38px;
        max-width: 280px;
        @include abstracts.screen(lg) {
            max-width: min(500px, 100%);
            font-size: 1.6rem;
        }
    }
    &__form {
        margin-top: 15px;
        display: flex;
        align-items: center;
        gap: 10px;
        @include abstracts.screen(xl) {
            flex-direction: column;
        }
        @include abstracts.screen(lg) {
            flex-direction: row;
        }
    }
    &__input {
        height: 40px;
        padding: 0 16px;
        border-radius: 6px;
        border: 1px solid #d2d1d6;
        font-size: 1.6rem;
        font-weight: 600;
        &::placeholder {
            font-weight: 400;
        }
        @include abstracts.screen(lg) {
            width: min(300px, 70%);
        }
    }
    &__submit {
        height: 40px !important;
        font-size: 1.4rem !important;
        @include abstracts.screen(xl) {
            width: 100%;
        }
        @include abstracts.screen(lg) {
            width: 17%;
            font-size: 1.3rem !important;
        }
    }
    &__right {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
        @include abstracts.screen(md) {
            grid-template-columns: 1fr;
            gap: 60px;
        }
    }
    &__title {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.45;
        @include abstracts.screen(lg) {
            font-size: 1.5rem;
        }
    }
    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 17px;
        margin-top: 22px;
        & > li:hover {
            color: #0071dc;
        }
        @include abstracts.screen(md) {
            gap: 15px;
            margin-top: 15px;
        }
    }
    &__link {
        white-space: nowrap;
    }
    &__wrap {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    &__item {
        &-label {
            font-size: 1.5rem;
            margin-bottom: 10px;
            font-weight: 500;
            @include abstracts.screen(lg) {
                font-size: 1.3rem;
            }
        }

        &-desc,
        &-clock {
            color: #9e9da8;
        }
    }
    &__bottom {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include abstracts.screen(md) {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
    &__socials {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    &__social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 6px;
        filter: grayscale(50%);
        transition: translate, filter;
        transition-duration: 0.3s;
        &--facebook {
            background: #4863a9;
        }
        &--youtube {
            background: #f00;
        }
        &--tiktok {
            background: #000;
        }
        &--twitter {
            background: #4999e6;
        }
        &--linkedin {
            background: #0e76a8;
        }
        &:hover {
            filter: grayscale(0);
            translate: 0 -3px;
        }
    }
    &__social-icon {
        width: 16px;
        filter: brightness(0) saturate(100%) invert(96%) sepia(96%) saturate(0%) hue-rotate(65deg) brightness(105%)
            contrast(104%);
    }
}
