@use "../abstracts";
%flex-itemCenter {
    display: flex;
    align-items: center;
}
.header {
    background: var(--header-bg);
}

.top-bar {
    @extend %flex-itemCenter;
    padding: 30px 0;
    @include abstracts.breakpoint(sm) {
        padding: 16px 0;
        justify-content: space-between;
    }
    @include abstracts.breakpoint(lg) {
        padding: 20px 0;
    }
    &__more {
        display: none;
        @include abstracts.breakpoint(lg) {
            display: block;
        }
    }
}
.navbar {
    margin-left: 144px;
    @include abstracts.breakpoint(xl) {
        margin-left: 50px;
    }
    @include abstracts.breakpoint(lg) {
        display: none;
    }
    &__list {
        display: flex;
        column-gap: 30px;
    }
    &__link {
        @extend %flex-itemCenter;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46; /* 146.667% */
    }
    &__icon {
        margin-top: 3px;
        margin-left: 6px;
    }
}
.top-act {
    margin-left: auto;
    @extend %flex-itemCenter;
    gap: 20px;
    @include abstracts.breakpoint(sm) {
        margin-left: 0;
    }
    &__group {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background-color: var(--top-act-group-bg);
        box-shadow: 0 20px 60px 10px var(--top-act-group-shadow);
        height: 50px;
        min-width: 50px;
        @include abstracts.breakpoint(md) {
            display: none;
        }
    }
    &__group--single {
        @include abstracts.breakpoint(lg) {
            display: none;
        }
        &__group--single &__btn {
            padding: 13px;
        }
    }
    &__btn {
        @extend %flex-itemCenter;
        padding: 13px 20px;
        cursor: pointer;
    }
    &__title {
        margin-left: 10px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46; /* 146.667% */
    }
    &__separate {
        width: 1px;
        height: 30px;
        background: var(--top-act-separate);
    }
    &__avatar {
        display: block;
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 8px;
        cursor: pointer;
    }
}
