@use "../abstracts";
%flex-itemCenter {
    display: flex;
    align-items: center;
}
.header {
    background: var(--header-bg);
    @include abstracts.screen(lg) {
        box-shadow: 0 20px 60px 10px var(--header-shadow-color);
    }
}

.top-bar {
    z-index: 1;
    position: relative;
    @extend %flex-itemCenter;
    padding: 30px 0;
    @include abstracts.screen(md) {
        padding: 16px 0;
        justify-content: space-between;
    }
    @include abstracts.screen(lg) {
        padding: 20px 0;
    }
    &__logo {
        @include abstracts.screen(lg) {
            gap: 10px !important;
            margin-left: 40px;
            &-title {
                font-size: 1.8rem !important;
                line-height: 1.44; /* 144.444% */
            }
            &-img {
                width: 24px;
                object-fit: cover;
            }
        }
        @include abstracts.screen(md) {
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
        }
    }
}
.navbar {
    margin-left: 129px;
    @include abstracts.screen(xl) {
        margin-left: 28px;
    }

    @include abstracts.screen(lg) {
        position: fixed;
        inset: 0 50% 0 0;
        border-radius: 0 20px 20px 0;
        background-color: var(--sidebar-bg);

        margin-left: 0;
        z-index: 9;
        padding: 25px 0 0;
        z-index: 9;
        translate: -100%;
        transition: translate 0.5s;
        &.show {
            translate: 0;
            box-shadow: 0 40px 90px 20px var(--sidebar-shadow-color);
        }
        &.show ~ &__overlay {
            visibility: visible;
            opacity: 1;
        }
    }
    @include abstracts.screen(sm) {
        inset: 0 20% 0 0;
        padding: 20px 0 0;
    }
    &__close-btn {
        display: none;

        @include abstracts.screen(lg) {
            display: block;
            padding: 10px 40px 8px;
        }
        @include abstracts.screen(sm) {
            padding: 0px 20px 10px;
        }
    }
    &__list {
        @extend %flex-itemCenter;
        @include abstracts.screen(lg) {
            flex-direction: column;
            align-items: flex-start;
            overscroll-behavior: contain;
            overflow-y: auto;
            height: calc(100% - 40px);
        }
        @include abstracts.screen(md) {
            height: calc(100% - 137px);
        }
        @include abstracts.screen(sm) {
            height: calc(100% - 113px);
        }
    }
    &__link {
        padding: 0 15px;
        height: 48px;
        @extend %flex-itemCenter;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46; /* 146.667% */
        @include abstracts.screen(lg) {
            justify-content: space-between;
            padding: 0 40px;
            font-size: 1.6rem;
            line-height: 150%;
        }
        @include abstracts.screen(sm) {
            padding: 0 20px;
            height: 44px;
        }
    }
    &__icon {
        margin-top: 3px;
        margin-left: 6px;
        @include abstracts.screen(lg) {
            rotate: -90deg;
            transition: rotate 0.3s;
        }
    }
    &__item {
        &:hover .dropdown {
            visibility: visible;
            opacity: 1;
        }
        @include abstracts.screen(lg) {
            width: 100%;
            &:hover .dropdown {
                display: none;
            }
            &--active .dropdown {
                display: block !important;
            }
            &--active .navbar__icon {
                rotate: 0deg;
            }
        }
    }

    &__overlay {
        visibility: hidden;
        opacity: 0;
        transition:
            0.5s,
            visibility 0.5s;
        @include abstracts.screen(lg) {
            position: fixed;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 8;
        }
    }
}
.nav-btn {
    align-items: center;
    padding: 13px 40px;
    @include abstracts.screen(sm) {
        padding: 10px 20px;
    }
    &__title,
    &__qnt {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }
    &__title {
        margin-left: 16px;
    }
    &__qnt {
        margin-left: auto;
    }
}
.top-act {
    margin-left: auto;
    @extend %flex-itemCenter;
    gap: 20px;
    @include abstracts.screen(md) {
        margin-left: 0;
    }
    @include abstracts.screen(md) {
        &__sign-up {
            height: 40px !important;
            font-size: 1.5rem !important;
            padding: 0 8px !important;
        }
    }
    &__group {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background-color: var(--top-act-group-bg);
        box-shadow: 0 20px 60px 10px var(--top-act-group-shadow);
        height: 50px;
        min-width: 50px;
    }
    &__group--single {
        @include abstracts.screen(lg) {
            display: none;
        }
        &__group--single &__btn {
            padding: 13px;
        }
    }
    &__btn-wrap {
        position: relative;
    }
    &__btn {
        @extend %flex-itemCenter;
        padding: 13px 20px;
        cursor: pointer;
    }
    &__title {
        margin-left: 10px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46; /* 146.667% */
    }
    &__separate {
        width: 1px;
        height: 30px;
        background: var(--top-act-separate);
    }
    &__avatar {
        display: block;
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 8px;
        cursor: pointer;
    }
}
.act-dropdown {
    position: absolute;
    right: -55px;
    top: 80px;
    width: min(645px, 100vw);
    text-align: start;
    transition: opacity, visibility;
    transition-duration: 0.3s;
    &.hide {
        opacity: 0;
        visibility: hidden;
    }
    &.show {
        opacity: 1;
        visibility: visible;
    }
    &__arrow {
        position: absolute;

        height: 20.5px;
        top: -17px;
        right: 90px;
        filter: var(--act-dropdown-arrow-bg);
    }
    &__inner {
        padding: 30px;
        border-radius: 20px;
        background: var(--act-dropdown-bg);
        box-shadow: 0 40px 90px 20px var(--act-dropdown--shadow);
    }
    &__top {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 2.2rem;
        line-height: 145.455%;
    }
    &__title {
        font-weight: 500;
    }
    &__view-on {
        font-size: 1.8rem;
        color: #0071dc;
        font-weight: 400;
    }
    &__list {
        padding-bottom: 10px;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    &__bottom {
        &::before,
        &::after {
            content: "";
            margin: 20px 0;
            display: block;
            background: var(--act-dropdown-separate-bg);
            height: 1px;
            width: 100%;
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        &--bolt {
            font-weight: 500;
        }
    }
    &__row + &__row {
        margin-top: 15px;
    }
    &__label,
    &__value {
        font-size: 1.8rem;
        line-height: 145.455%;
    }
    &__checkout {
        display: flex;
        justify-content: flex-end;
        &-btn {
            min-width: 278px;
        }
    }
}
.cart-review-item {
    &__img-wrap {
        border: 1.5px solid var(--act-dropdown-border-color);
        border-radius: 10px;
        position: relative;
        padding-top: 100%;
    }
    &__thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &__title {
        margin-top: 14px;
        font-size: 1.4rem;

        line-height: 142.857%;
    }
    &__price {
        margin-top: 6px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }
}
