@use "../abstracts";
%flex-itemCenter {
    display: flex;
    align-items: center;
}
.header {
    background: var(--header-bg);
    @include abstracts.breakpoint(lg) {
        box-shadow: 0 20px 60px 10px var(--header-shadow-color);
    }
}

.top-bar {
    z-index: 1;
    position: relative;
    @extend %flex-itemCenter;
    padding: 30px 0;
    @include abstracts.breakpoint(md) {
        padding: 16px 0;
        justify-content: space-between;
    }
    @include abstracts.breakpoint(lg) {
        padding: 20px 0;
    }
}
.navbar {
    margin-left: 129px;
    @include abstracts.breakpoint(xl) {
        margin-left: 28px;
    }

    @include abstracts.breakpoint(lg) {
        position: fixed;
        inset: 0 50% 0 0;
        border-radius: 0 20px 20px 0;
        background-color: var(--sidebar-bg);

        margin-left: 0;
        z-index: 9;
        padding: 25px 0 0;
        z-index: 9;
        translate: -100%;
        transition: translate 0.5s;
        &.show {
            translate: 0;
            box-shadow: 0 40px 90px 20px var(--sidebar-shadow-color);
        }
        &.show ~ &__overlay {
            visibility: visible;
            opacity: 1;
        }
    }
    @include abstracts.breakpoint(sm) {
        inset: 0 20% 0 0;
        padding: 20px 0 0;
    }
    &__close-btn {
        display: none;

        @include abstracts.breakpoint(lg) {
            display: block;
            padding: 10px 40px 8px;
        }
        @include abstracts.breakpoint(sm) {
            padding: 0px 20px 10px;
        }
    }
    &__list {
        @extend %flex-itemCenter;
        @include abstracts.breakpoint(lg) {
            flex-direction: column;
            align-items: flex-start;
            overscroll-behavior: contain;
            overflow-y: auto;
            height: calc(100% - 40px);
        }
        @include abstracts.breakpoint(md) {
            height: calc(100% - 137px);
        }
        @include abstracts.breakpoint(sm) {
            height: calc(100% - 113px);
        }
    }
    &__link {
        padding: 0 15px;
        height: 48px;
        @extend %flex-itemCenter;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46; /* 146.667% */
        @include abstracts.breakpoint(lg) {
            justify-content: space-between;
            padding: 0 40px;
            font-size: 1.6rem;
            line-height: 150%;
        }
        @include abstracts.breakpoint(sm) {
            padding: 0 20px;
            height: 44px;
        }
    }
    &__icon {
        margin-top: 3px;
        margin-left: 6px;
        @include abstracts.breakpoint(lg) {
            rotate: -90deg;
            transition: rotate 0.3s;
        }
    }
    &__item {
        &:hover .dropdown {
            visibility: visible;
            opacity: 1;
        }
        @include abstracts.breakpoint(lg) {
            width: 100%;
            &:hover .dropdown {
                display: none;
            }
            &--active .dropdown {
                display: block !important;
            }
            &--active .navbar__icon {
                rotate: 0deg;
            }
        }
    }

    &__overlay {
        visibility: hidden;
        opacity: 0;
        transition: 0.5s, visibility 0.5s;
        @include abstracts.breakpoint(lg) {
            position: fixed;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 8;
        }
    }
}
.nav-btn {
    align-items: center;
    padding: 13px 40px;
    @include abstracts.breakpoint(sm) {
        padding: 10px 20px;
    }
    &__title,
    &__qnt {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }
    &__title {
        margin-left: 16px;
    }
    &__qnt {
        margin-left: auto;
    }
}
.top-act {
    margin-left: auto;
    @extend %flex-itemCenter;
    gap: 20px;
    @include abstracts.breakpoint(md) {
        margin-left: 0;
    }
    &__group {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background-color: var(--top-act-group-bg);
        box-shadow: 0 20px 60px 10px var(--top-act-group-shadow);
        height: 50px;
        min-width: 50px;
    }
    &__group--single {
        @include abstracts.breakpoint(lg) {
            display: none;
        }
        &__group--single &__btn {
            padding: 13px;
        }
    }
    &__btn {
        @extend %flex-itemCenter;
        padding: 13px 20px;
        cursor: pointer;
    }
    &__title {
        margin-left: 10px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46; /* 146.667% */
    }
    &__separate {
        width: 1px;
        height: 30px;
        background: var(--top-act-separate);
    }
    &__avatar {
        display: block;
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 8px;
        cursor: pointer;
    }
}
