@use "../abstracts";
.breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 64px;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    background: var(--breadcrumb-bg-color);
    box-shadow: 0 20px 60px 10px var(--breadcrumb-shadow-color);
    @include abstracts.screen(md) {
        gap: 16px;
        border-radius: 20px;
    }

    &__link {
        display: flex;
        align-items: center;
        column-gap: 8px;
        white-space: nowrap;
        color: #9e9da8;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
        &--current {
            color: inherit;
        }
        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }
}
