@use "../abstracts";
.row {
    // gap: 50px;
}
.cate {
    &-item {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        height: 100%;
        padding: 20px 26px;
        border-radius: 16px;
        background-color: var(--categcory-item-bg);
        gap: 20px;
        @include abstracts.screen(xl) {
            flex-direction: column;
        }
        @include abstracts.screen(md) {
            flex-direction: row;
        }
        &__thumb {
            width: 116px;
            height: 116px;
            object-fit: contain;
            background-color: var(--categcory-item-thumb-bg);
            border-radius: 8px;
            @include abstracts.screen(xl) {
                width: 100%;
                height: 150px;
            }
            @include abstracts.screen(md) {
                width: 88px;
                height: 88px;
            }
        }
        &__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 30px;
            @include abstracts.screen(xxl) {
                padding-right: 0;
            }
        }
        &__title {
            color: var(--categcory-item-color);
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 145.455%;
            @include abstracts.screen(md) {
                font-size: 1.8rem;
                line-height: 144.444%;
            }
        }
        &__desc {
            margin-top: 6px;
            font-size: 1.6rem;
            line-height: 150%;
            @include abstracts.screen(md) {
                font-size: 1.4rem;
                line-height: 142.857%;
            }
        }
    }
}
