.dropdown {
    position: absolute;
    left: 0;
    padding-top: 54px;
    // visibility: hidden;
    // opacity: 0;
    width: min(1240px, 100%);
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
    &__inner {
        --inner-padding: 30px;
        max-height: var(--inner-max-height);
        position: relative;
        padding: var(--inner-padding);
        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0 40px 90px 20px var(--dropdown-shadow-color);
        &::before {
            content: url("../icons/dropdown-arrow.svg");
            position: absolute;
            left: var(--arrow-left-pos);
            top: -13px;
            translate: -50%;
            filter: var(--dropdown-arrow-color);
        }
    }
}
.top-menu {
    &__main {
        max-height: calc(min(582px, 100vh - 158px) - var(--inner-padding) * 1.2);
        width: 292px;
        border-right: 1px solid var(--menu-main-border-color);
        overflow: auto;
    }
}
.menu-column {
    display: flex;
    column-gap: 14px;
    &__icon {
        position: relative;
        flex-shrink: 0;
        width: 36px;
        height: 36px;
    }
    &__contet {
        flex: 1;
    }
    &__icon-1 {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }
    &__icon-2 {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 24px;
        height: 24px;
        object-fit: cover;
        filter: var(--menu-column-icon-color);
    }
    &__heading {
        margin-top: 4px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5; /* 150% */
        color: var(--menu-column-color);
    }
    &___list {
        margin-top: 19px;
    }
    &__link {
        display: block;
        padding: 7px 0;
        color: var(--menu-column-color);
        font-size: 1.4rem;

        &:hover {
            color: #0071dc;
            font-weight: 500;
        }
    }
}
