@use "../abstracts";
.dropdown {
    position: absolute;
    left: 0;
    padding-top: 54px;
    visibility: hidden;
    opacity: 0;

    width: min(1240px, 100%);
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
    @include abstracts.breakpoint(lg) {
        display: none;
        visibility: visible;
        opacity: 1;
        position: initial;
        padding-top: 0;
    }
    &__inner {
        --inner-padding: 30px;
        --max-height-inner: calc(min(582px, 100vh - 158px) - var(--inner-padding) * 1.2);
        max-height: var(--inner-max-height);
        position: relative;
        padding: var(--inner-padding);
        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0 40px 90px 20px var(--dropdown-shadow-color);

        &::before {
            content: url("../icons/dropdown-arrow.svg");
            position: absolute;
            left: var(--arrow-left-pos);
            top: -13px;
            translate: -50%;
            filter: var(--dropdown-arrow-color);
        }
        @include abstracts.breakpoint(lg) {
            --inner-padding: 0 40px;
            background: transparent;
            box-shadow: none;
            border-radius: 0;

            &::before {
                content: none;
            }
        }
        @include abstracts.breakpoint(sm) {
            --inner-padding: 0 20px;
        }
    }
}
.top-menu {
    --main-column-width: 292px;

    position: relative;
    &__main {
        height: var(--max-height-inner);
        width: var(--main-column-width);
        border-right: 1px solid var(--menu-main-border-color);
        overflow: auto;
        @include abstracts.breakpoint(lg) {
            width: 100%;
            height: auto;
            border-right: none;
        }
    }
}
.menu-column {
    display: flex;

    column-gap: 14px;
    @include abstracts.breakpoint(lg) {
        margin-top: 10px;
    }
    + .menu-column {
        margin-top: 30px;
    }
    &__content {
        flex: 1;
    }
    &__icon {
        position: relative;
        flex-shrink: 0;
        width: 36px;
        height: 36px;
    }
    &__contet {
        flex: 1;
    }
    &__icon-1 {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }
    &__icon-2 {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 24px;
        height: 24px;
        object-fit: contain;
        filter: var(--menu-column-icon-color);
    }
    &__heading {
        margin-top: 4px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5; /* 150% */
        color: var(--menu-column-color);
        @include abstracts.breakpoint(lg) {
            margin-bottom: 20px;
        }
    }
    &__list {
        margin-top: 19px;
        @include abstracts.breakpoint(lg) {
            margin-top: 0;
        }
    }
    &__item {
        &--active .sub-menu {
            display: grid;
        }
    }
    &__item:hover > &__link,
    &__item--active > &__link {
        color: #0071dc;
        font-weight: 500;
    }
    &__link {
        display: block;
        padding: 7px 0;
        color: var(--menu-column-color);
        font-size: 1.4rem;
        line-height: 150%;
    }
}
.sub-menu {
    display: none;
    padding-left: var(--inner-padding);
    position: absolute;
    inset: 0 0 0 var(--main-column-width);

    grid-template-columns: repeat(3, 1fr);
    overflow: auto;
    &--notmain {
        display: grid;
        position: initial;
        inset: initial;
        grid-template-columns: repeat(4, 1fr);
        height: var(--max-height-inner);
        padding-left: 0;
    }
    @include abstracts.breakpoint(lg) {
        position: initial;
        grid-template-columns: 1fr;
    }
    @include abstracts.breakpoint(xl) {
        &--notmain {
            column-gap: 20px;
        }
    }
}
