@use "../abstracts";
.filter-wrap {
    position: relative;
    z-index: 1;
}
.filter {
    position: absolute;
    padding: 30px 0;
    border-radius: 20px;
    right: 0;
    top: 57px;

    background: var(--filter-form-bg);
    box-shadow: 0 40px 90px var(--filter-form-shadow);
    transition: opacity, visibility;
    transition-duration: 0.25s;

    @include abstracts.screen(sm) {
        width: 100%;
        height: 100vh;
        position: fixed;
        inset: 0;
        border-radius: 0;
    }
    &.hide {
        opacity: 0;
        visibility: hidden;
    }
    &__arrow {
        position: absolute;
        top: -15px;
        right: 22px;
        height: 20.5px;
        filter: var(--filter-form-arrow-bg);
    }
    &__heading,
    &__form-label {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
    }
    &__form {
        margin-top: 30px;
        &-label {
            display: flex;
            &--small {
                margin-bottom: 10px;
                font-size: 1.4rem;
            }
        }
        &-group {
            margin: 20px 0;
        }
        &-slider {
            position: relative;
            width: 100%;
            height: 2px;
            background: #d2d1d6;
        }
        &-slider::before,
        &-slider::after {
            content: "";
            position: absolute;
            width: 22px;
            height: 22px;
            background: var(--filter-form-color-innode);
            border-radius: 50%;
            border: 6px solid #ffb700;
            top: 50%;
            transform: translateY(-50%);
        }
        &-slider::before {
            left: var(--min-value);
        }
        &-slider::after {
            left: var(--max-value);
        }
        &-group--inline {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 30px;
        }

        &-text-input,
        &-select-wrap {
            display: flex;

            border-radius: 6px;
            border: 1px solid #d2d1d6;
        }
        &-text-input {
            overflow: hidden;
            align-items: center;
            width: 334px;
            height: 44px;
            padding: 0 16px;
            &--small {
                height: 36px;
                width: 121px;
                padding: 0 12px;
            }
            @include abstracts.screen(xl) {
                width: 100%;
            }
        }
        &-text-input--small,
        &-input {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;
        }
        &-input {
            width: 100%;

            font-weight: 500;
            font-size: 1.5rem;
            line-height: 146.667%;
            &::placeholder {
                font-weight: 400;
                color: #9e9da8;
            }
            &-icon {
                margin-left: 12px;
            }
            @include abstracts.screen(sm) {
                font-size: 1.6rem !important;
            }
        }

        &-select-wrap {
            align-items: center;
            height: 45px;
        }
        &-select {
            display: flex;
            align-items: center;
            cursor: pointer;
            min-width: var(--width, 108px);
            height: calc(100% - 10px);
            justify-content: space-between;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;
            padding: 0 14px;
            @include abstracts.screen(xl) {
                flex: 1;
            }
        }
        &-select + &-select {
            border-left: 1px solid #d2d1d6;
        }
        &-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px 20px;
            @include abstracts.screen(sm) {
                gap: 10px;
            }
        }
        &-tag {
            padding: 6px 12px;
            color: #9e9da8;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;
            border-radius: 6px;
            background: var(--filter-form-tag-bg);
            transition: color 0.2s;
            &:hover {
                color: var(--text-color);
            }
        }
    }
    &__row {
        display: flex;
    }
    &__separate {
        width: 1px;
        background: #eee;
        margin: 0 30px;

        @include abstracts.screen(xl) {
            width: 100%;
            min-height: 1px;
            margin: 30px 0;
            background: #eee;
        }
    }
    &__footer {
        margin-top: 32px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @include abstracts.screen(xl) {
            bottom: 0;
            position: sticky;
            background: var(--filter-form-footer-bg);
            padding-bottom: 15px;
        }
        @include abstracts.screen(sm) {
            position: sticky;
            bottom: 30px;
            background: var(--filter-form-bg);
        }
    }
    &__cancel,
    &__submit {
        height: 38px;
        padding: 0 10px;
        @include abstracts.screen(sm) {
            display: flex;
            justify-content: center;
            flex: 1;
            height: 42px;
        }
    }

    &__submit {
        font-size: 1.4rem;
        margin-left: 10px !important;
        padding: 0 10px;
    }
    &__heading,
    &__content,
    &__footer {
        padding: 0 30px;
    }
    &__content {
        max-height: calc(100vh - 350px);

        overflow-y: auto;
        overscroll-behavior: contain;

        @include abstracts.screen(xl) {
            flex-direction: column;
        }
        @include abstracts.screen(sm) {
            max-height: calc(100vh - 230px);
            padding-bottom: 30px;
        }
    }
}
