@use "../abstracts";
$error-color: #ed4337;
.form {
    &:has(:invalid) &__group-btn {
        opacity: 0.5;
        pointer-events: none;
    }
    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none;
    }
    &__row {
        display: flex;
        gap: 25px;
        > * {
            flex: 1;
        }
        @include abstracts.screen(md) {
            gap: 20px;
        }
        @include abstracts.screen(sm) {
            flex-direction: column;
            gap: 0px;
        }
    }
    &__group {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        &--inline {
            margin-top: 20px;
            flex-direction: row;

            align-items: center;
        }
        &-btn {
            width: 100%;
        }
        @include abstracts.screen(md) {
            margin-top: 20px;
        }
    }
    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
        .form__text-input {
            border-color: $error-color;
            background: rgba($color: $error-color, $alpha: 0.1);
        }
        .form__input-icon-error,
        .form__error {
            display: block;
        }
        .form__input-icon {
            display: none;
        }
    }
    &__text-input,
    &__text-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 12px;
        border-radius: 10px;
        border: 1px solid var(--form-border-color);

        &:focus-within {
            border-color: #77dae6;
        }
    }
    &__text-area {
        height: 100px;
        padding: 12px;
        &-input {
            resize: none;
        }
    }
    &__text-input {
        position: relative;
        height: 50px;
        @include abstracts.screen(md) {
            height: 48px;
        }
        &--small {
            height: 42px;
        }
    }
    &__input,
    &__text-area-input {
        flex: 1;
        height: 100%;
        font-weight: 500;
        font-size: 1.8rem;
        width: 100%;
        line-height: 144.444%;
        &::placeholder {
            color: var(--form-text-color);
        }
        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }
    }
    &__input {
        &-icon {
            margin-left: 20px;
        }
    }
    &__select-dialog {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 44px;
        left: 10px;
        max-height: 303px;
        min-width: 230px;
        padding-bottom: 10px;
        border: 1px solid #d2d1d6;
        border-radius: 10px;
        background: var(--form-select-dialog-bg);
        box-shadow: 0 0 5px var(--form-select-dialog-shadow);

        transition: opacity, visibility, translate;
        transition-duration: 0.2s;
        &.show {
            opacity: 1;
            visibility: visible;
            translate: 0;
        }
        &.hide {
            opacity: 0;
            visibility: hidden;
            translate: 0 10px;
        }
        @include abstracts.screen(sm) {
            z-index: 1;
            position: fixed;
            inset: 0;
            min-width: initial;
            max-height: initial;
        }
    }
    &__dialog-heading {
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center;
        padding: 20px 0;
    }
    &__search {
        display: flex;
        flex-shrink: 0;

        align-items: center;
        height: 38px;
        padding: 0 20px;
        border-bottom: 1px solid #d2d1d6;
        &-input {
            height: 100%;
            flex: 1;
            font-size: 1.6rem;
        }
        &-icon {
            margin-left: 10px;
            width: 16px;
        }
        @include abstracts.screen(lg) {
            height: 48px;
            &-icon {
                width: 20px;
            }
        }
        @include abstracts.screen(sm) {
            border: 1px solid #d2d1d6;
            border-radius: 10px;
            margin: 10px 30px 0;
            padding: 0 14px;
        }
    }

    &__options-list {
        flex: 1;
        margin-top: 10px;
        overflow-y: auto;
        // cuon trong list
        overscroll-behavior: contain;
        // khắc phục lỗi scroll trong safari bị bàn phím che mất phần option dưới nên cần padding để hiển thị tối ưu
        @supports (-webkitl-touch-callout: none) {
            padding-bottom: 300px;
        }
    }
    &__option {
        padding: 8px 20px;
        font-size: 1.4rem;
        &:not(&--current):hover {
            background: var(--form-option-hover-bg);
            cursor: pointer;
        }
        &--current {
            font-weight: 500;
            background: rgba($color: #ffb700, $alpha: 0.6);
        }
        @include abstracts.screen(lg) {
            padding: 18px 30px;
            font-size: 1.6rem;
        }
    }
    &__input-icon-error {
        display: none;
        margin-left: 12px;
        width: 20px;
        height: 18px;

        animation: shake 0.5s;
    }
    &__error {
        margin-top: 6px;
        display: none;
        color: $error-color;
        text-align: left;
        font-size: 1.4rem;
        font-weight: 500;
    }
    &__checkbox {
        position: relative;
        display: flex;
        align-items: center;

        &-label {
            color: var(--form-label-color);
            margin-left: 29px;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;
            @include abstracts.screen(md) {
                font-size: 1.4rem;
            }
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
        }
        &::before {
            left: 0;
            width: 19px;
            height: 19px;
            border: 1px solid #9e9da8;
            border-radius: 5px;
        }
    }
    &__checkbox:has(:checked) {
        &::before {
            border-color: orange;
            background: orange;
        }
        &::after {
            top: 4.5px;
            left: 2.5px;
            rotate: -45deg;

            width: 15px;
            height: 8px;
            border: 3px solid;
            border-color: transparent transparent #fff #fff;
            background: transparent;
        }
    }
    &__group--inline {
        user__select: none;
    }
    &-link {
        font-size: 1.5rem;
        line-height: 146.667%;
    }
    &__pull-right {
        margin-left: auto;
    }
    &__label {
        display: flex;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
        &--small {
            margin-bottom: 10px;
            font-size: 1.4rem;
        }
        &--medium {
            font-size: 1.8rem;
            margin-bottom: 20px;
        }
    }
    &__select-wrap {
        display: flex;
        align-items: center;
        border-radius: 6px;
        border: 1px solid #d2d1d6;
        height: 45px;
    }
    &__select {
        display: flex;
        align-items: center;
        cursor: pointer;
        min-width: var(--width, 108px);
        height: calc(100% - 10px);
        justify-content: space-between;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
        padding: 0 14px;
        @include abstracts.screen(xl) {
            flex: 1;
        }
    }

    &__select + &__select {
        border-left: 1px solid #d2d1d6;
    }
    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;
        @include abstracts.screen(sm) {
            gap: 10px;
        }
    }
    &__tag {
        padding: 6px 12px;
        color: #9e9da8;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
        border-radius: 6px;
        background: var(--form-tag-bg);
        transition: color 0.2s;
        &:hover {
            color: var(--text-color);
        }
    }
}
