@use "../abstracts";
$error-color: #ed4337;
.form {
    &:has(:invalid) &__group-btn {
        opacity: 0.5;
        pointer-events: none;
    }
    &__group {
        display: flex;
        flex-direction: column;

        &--inline {
            margin-top: 20px;
            flex-direction: row;

            align-items: center;
        }
        &-btn {
            width: 100%;
        }
    }
    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
        .form__text-input {
            border-color: $error-color;
            background: rgba($color: $error-color, $alpha: 0.1);
        }
        .form__input-icon-error,
        .form__error {
            display: block;
        }
        .form__input-icon {
            display: none;
        }
    }
    &__text-input {
        margin-top: 25px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 12px;
        border-radius: 10px;
        border: 1.5px solid var(--form-border-color);
        &:focus-within {
            border-color: #77dae6;
        }
        @include abstracts.screen(md) {
            height: 48px;
            margin-top: 20px;
        }
    }
    &__input {
        height: 100%;
        font-weight: 500;
        font-size: 1.8rem;
        width: 100%;

        line-height: 144.444%;
        &::placeholder {
            color: var(--form-text-color);
        }
        &-icon {
            margin-left: 20px;
        }
        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }
    }
    &__input-icon-error {
        display: none;
        margin-left: 12px;
        width: 20px;
        height: 18px;

        animation: shake 0.5s;
    }
    &__error {
        margin-top: 6px;
        display: none;
        color: $error-color;
        text-align: left;
        font-size: 1.4rem;
        font-weight: 500;
    }
    &__checkbox {
        position: relative;
        display: flex;
        align-items: center;

        &-label {
            color: var(--form-label-color);
            margin-left: 29px;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;
            @include abstracts.screen(md) {
                font-size: 1.4rem;
            }
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
        }
        &::before {
            left: 0;
            width: 19px;
            height: 19px;
            border: 1.5px solid #9e9da8;
            border-radius: 5px;
        }
    }
    &__checkbox:has(:checked) {
        &::before {
            border-color: orange;
            background: orange;
        }
        &::after {
            top: 4.5px;
            left: 2.5px;
            rotate: -45deg;

            width: 15px;
            height: 8px;
            border: 3px solid;
            border-color: transparent transparent #fff #fff;
            background: transparent;
        }
    }
    &__group--inline {
        user__select: none;
    }
    &-link {
        font-size: 1.5rem;
        line-height: 146.667%;
    }
    &__pull-right {
        margin-left: auto;
    }
    &__label {
        display: flex;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
        &--small {
            margin-bottom: 10px;
            font-size: 1.4rem;
        }
    }
    &__select-wrap {
        display: flex;
        align-items: center;
        border-radius: 6px;
        border: 1px solid #d2d1d6;
        height: 45px;
    }
    &__select {
        display: flex;
        align-items: center;
        cursor: pointer;
        min-width: var(--width, 108px);
        height: calc(100% - 10px);
        justify-content: space-between;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
        padding: 0 14px;
        @include abstracts.screen(xl) {
            flex: 1;
        }
    }

    &__select + &__select {
        border-left: 1px solid #d2d1d6;
    }
    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;
        @include abstracts.screen(sm) {
            gap: 10px;
        }
    }
    &__tag {
        padding: 6px 12px;
        color: #9e9da8;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
        border-radius: 6px;
        background: var(--form-tag-bg);
        transition: color 0.2s;
        &:hover {
            color: var(--text-color);
        }
    }
}
