@use "../abstracts";
.logo {
    display: flex;
    align-items: center;
    column-gap: 14px;
    @include abstracts.screen(lg) {
        gap: 10px;
        margin-left: 40px;
    }
    @include abstracts.screen(md) {
        margin: 0 auto;
    }

    &__img {
        @include abstracts.screen(lg) {
            width: 24px;
            object-fit: cover;
        }
    }
    &__title {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.45; /* 145.455% */
        @include abstracts.screen(lg) {
            font-size: 1.8rem;
            line-height: 1.44; /* 144.444% */
        }
    }
}
