@use "../abstracts";
.slideshow {
    margin: 40px 0;
    position: relative;
    @include abstracts.breakpoint(md) {
        margin-top: 30px;
    }
    &__inner {
        display: flex;
        overflow: hidden;
    }
    &__item {
        position: relative;
        width: 100%;
        flex-shrink: 0;
        padding-top: 34%;
        @include abstracts.breakpoint(md) {
            padding-top: 50%;
        }
    }
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    &__page {
        width: 12.8%;
        position: absolute;
        column-gap: 23px;
        display: flex;
        left: 5.2%;
        bottom: 15%;
        align-items: center;
    }
    &__num {
        color: #fff;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        @include abstracts.breakpoint(md) {
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }
    &__slider {
        position: relative;
        width: 100%;
        height: 4px;
        background: #fff;
        flex-shrink: 0;
        &::before,
        &::after {
            content: "";
            width: 14px;
            height: 14px;
            border: 4px solid #fff;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            translate: 0 -50%;
            @include abstracts.breakpoint(md) {
                border: 3px solid #fff;
            }
        }
        &::before {
            translate: -90% -50%;
        }
        &::after {
            right: 0;
            translate: 90% -50%;
        }
    }
}
