@use "../abstracts";
*,
::before,
::after {
    box-sizing: border-box;
}
* {
    -webkit-tap-highlight-color: transparent;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Gordita", sans-serif;
    color: var(--text-color);
    background: var(--body-bg);
}

a {
    text-decoration: none;
    color: inherit;
}
button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}
a,
textarea,
img,
label,
input,
select,
button {
    padding: 0;
    outline: none;
    border: none;
    font-family: inherit;
    color: inherit;

    -webkit-tap-highlight-color: transparent;
}
input {
    background: transparent;
}
.icon {
    filter: var(--icon-color);
}
.container {
    @include abstracts.screen(sm) {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}
i,
em {
    font-style: italic;
}
b,
strong {
    font-weight: 600;
}
