@use "../abstracts";
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Gordita", sans-serif;
    color: var(--text-color);
    background: var(--body-bg);
}

a {
    text-decoration: none;
    color: inherit;
}
button {
    border: none;
    outline: none;
    background: transparent;
}
a,
textarea,
img,
select,
button {
    font-family: inherit;
    color: inherit;
    padding: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.icon {
    filter: var(--icon-color);
}
.container {
    @include abstracts.screen(sm) {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}
