$breakpoints: (
    xxl: 1396px,
    xl: 1200px,
    lg: 992px,
    md: 768px,
    sm: 576px,
);
$display-values: block, none, flex, grid;
@mixin make-display($breakpoint: null) {
    $infix: if($breakpoint, "-#{$breakpoint}", "");
    @each $display in $display-values {
        .d#{$infix}-#{$display} {
            display: $display !important;
        }
    }
}
@include make-display();
@each $breakpoint, $demension in $breakpoints {
    @media (max-width: ($demension - 0.02)) {
        @include make-display($breakpoint);
    }
}
